
/* I like how it looks. That's why and that's good enough. */

$line-height-base: 1.62;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .41,
        2: $spacer * .81,
        3: $spacer,
        4: $spacer * 1.62,
        5: $spacer * 3.24,
);

/* Bigger hit box please */
$list-group-item-padding-y: $spacer * .81;

$veilid_purple: #4f4d9d;
$veilid_purple_pastel: #c7c8e2;
$veilid_purple_border: #8B8BC0;
$veilid_purple_medium: #3D3783;
$veilid_purple_darkest: #2b2068;

$veilid_magenta:  #e100b0;
$veilid_fuchsia: #8e0097;

$veilid_plum_dark:  #441168;


$primary: $veilid_purple;
$primary-bg-subtle: $veilid_purple_pastel;
$primary-border-subtle: #a2a5ce;

$dark: #131c45;
$success: #008219 ;
$warning:#dde97d;
$danger: #cd9c2d;
$info:  #001d7f;

$code-color: $veilid_fuchsia;

$secondary: #495057;
$navbar-dark-color: rgba(#fff, .75);
$navbar-dark-hover-color: rgba(#fff, 1);
$table-dark-bg: rgba($dark,0.5);
$link-decoration: underline;

.bgv-purple { background-color: $veilid_purple !important; color: white !important; }
.bgv-fuschia { background-color: $veilid_fuchsia !important; color: white !important; }
.bgv-plum { background-color: $veilid_plum_dark !important; color: white !important; }

$link-color: $veilid_purple_medium;
$link-hover-color: $veilid_fuchsia;